{% extends 'base.html' %}
{% block content %}
<h2>PLANET DETAILS</h2>

<table>
    <tr>
    {% for details in dataset %}
        <td>{{details.index}}</td>
        <td>{{details.name}}</td>
        <td>{{details.description}}</td>
        <td>{{details.age}}</td>
        <td>{{details.satellite}}</td>
        <td>{{details.radius}}</td>
        <td>{{details.volume}}</td>
        <td>{{details.mass}}</td>
        <td>{{details.density}}</td>
        <td>{{details.distance_from_sun}}</td>
        <td>{{details.distance_from_earth}}</td>
        <td>{{details.day_length}}</td>
    {% endfor %}
    </tr>
  
</table>

{% endblock %}
